*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  user-select: none;
}

/* -------Navigation bar---------- */
.container{
  background-color:white;
  box-shadow: 1px 1px 1px 1px #888888;
  height: 10vh;
  display: flex;
  justify-content:  space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}
.inner-container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  list-style: none;
  gap: 40px;
  margin-left: 5rem;
}
.logo{
  margin-left: 9rem;
  border-radius: 10px;
  border: 2px solid blue;
  box-shadow: rgba(0,0,0,0.4) 0px 2px 4px, rgba(0,0,0,0.3) 0px 7px 13px -3px, rgba(0,0,0,0.2) 0px -3px 0px inset;
}

.nav{
  color: blue;
  font-size: 18px;
  padding: 6px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration:none;
}
.inner-container>li:hover{
  color: black;
  background-color:azure;
  border-radius: 5px;
  user-select: none;
  cursor:pointer;
}
.get{
  text-decoration:none;
   color :white;
   padding: 10px 20px;
   border-radius: 5px;
   font-size: 18px;
   font-family: 'Times New Roman', Times, serif;
   background-color: blue;
   margin-right: 9rem;
   box-shadow: rgba(0,0,0,0.4) 0px 2px 4px, rgba(0,0,0,0.3) 0px 7px 13px -3px, rgba(0,0,0,0.2) 0px -3px 0px inset;
}

.get:hover{
  cursor: pointer;
  background-color: lightskyblue;
}

/*--------- section1------------ */
.section1-container{
  height:90vh;
  display: flex;
  margin-top: 10vh;
  gap : 25px;
}

.pic1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  width: 55vh;
  border-radius: 50%;
  padding: 10px;

}
.looking{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vh;
  margin-left: 9rem;
  justify-content:right;
  gap: 20px;


}
.image-container{
  margin-top: 50px;
  display: flex;
  height: 70vh;
  width: 70vh;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(127, 136, 255);

  
}

.looking-for{
  margin-top: 20vh;
  font-size: 50px;
}

.looking-for1{
  font-size: 50px;
}

.comitted{
  font-size: 20px;
  font-weight: 100;
  width: 50vh;
}

.find{
  border: 1px solid blue;
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  color: blue;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
  box-shadow: rgba(0,0,0,0.4) 0px 2px 4px, rgba(0,0,0,0.3) 0px 7px 13px -3px, rgba(0,0,0,0.2) 0px -3px 0px inset;
}

/* ----section2------------------- */
.about-container{
  height: 70vh;
  background-color:azure;
  width: 100%;
  display: flex;
  gap: 20vh;
  
}

.ace{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}


.section2-pic{
  width: 60vh;
  height:60vh;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 50px 0px 50px 150px;

}

.seam{
  font-size: 35px;
  font-weight:bold;
  font-family:'Times New Roman', Times, serif;
  line-height: 55px;
}
.lorem{
  font-size: 20px;
  line-height: 30px;
}
.take{
  color: blue;
  font-size: 21px;
}

/*-------- section2 ------------ */
.about-container1{
  height: 70vh;
  width: 100%;
  display: flex;
  gap: 20vh; 
}

.ace1{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-left: 9rem;

}
.section3-pic{
  width: 70vh;
  height:60vh;
  display: flex;
  margin: 50px 9rem 50px 0px;
}
.seam1{
  font-size: 40px;
  font-weight:550;
  font-family: 'Times New Roman', Times, serif;
  line-height: 55px;
}
.lorem1{
  font-size: 20px;
  line-height: 30px;
}
.take1{
  color: blue;
  font-size: 21px;
}

/*-------- section4--------------- */
.section44{
  width: 100%;
  height: 60vh;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section4-container{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap: 30px;
  width: 380px;
  padding: 30px;
  box-shadow: 1px 1px 1px 1px #888888;
  margin-top: 0px;
}
.detail{
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}
.offer{
  margin-top: 10vh;
  height: 20vh;
  text-align: center;

}
.what{
  font-weight:lighter;
}
/* section5 */
.section5-container{
  display: flex;
  margin-left: 9rem;
  margin-top: 10vh;
  margin-bottom: 10vh;
  gap: 50px;
}
.touch-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.phone-container{
  display: flex;
  align-items: center;
  gap :20px;
}
.phone-detail{
  display: flex;
  flex-direction: column;
}
.phone-number, .em, .add {
  font-weight: lighter;
}
.email-container{
  display: flex;
  align-items: center;
  gap :20px;
}
.emaail-detail{
  display: flex;
  flex-direction: column;
}

.address-container{
  display: flex;
  align-items: center;
  gap :20px;
}
.address-detail{
  display: flex;
  flex-direction: column;
}

.form-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: blue;
  border-radius: 10px;
  width: 80vh;
  height: 70vh;
  padding: 40px 30px;
}
input{
  padding: 15px;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  border: 2px solid white;
  padding-left: 30px;
  font-size: 20px;
  font-family: bold;
  font-family: 'Times New Roman', Times, serif;
  outline: none;
}
input::placeholder{
  color: white;
  font-size: 20px;
  font-family: bold;
  font-family: 'Times New Roman', Times, serif;

}
textarea{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  outline: none;
  padding-left: 30px;
  padding-top: 10px;
  color: white;
  font-size: 20px;
  font-family: bold;
  font-family: 'Times New Roman', Times, serif;
  resize: none;
}
textarea::placeholder{
  color: white;
  font-size: 20px;
  font-family: bold;
  font-family: 'Times New Roman', Times, serif;
}

.btn{
  padding: 15px;
  border: 2px solid blue;
  border-radius: 5px;
  outline: none;
  color: blue;
  font-size: 20px;
  font-family: bold;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 1px 1px 1px 1px #888888;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* -----------footer------------- */
footer{
  height: 40vh;
  background-color: lightblue;
  width: 100%;
}

.main-footer{
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: blue;
  margin: 0px 3rem;
  
}

.footer-container{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.footer-service, .social-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.footer-service1, .social-container1{
display: flex;
justify-content: space-between;
align-items: center;
gap: 40px;

}
.workforce{
  text-align: center;
  font-size: 18px;
}
.logo2{
  border-radius: 10px;
  border: 2px solid blue;
  box-shadow: rgba(0,0,0,0.4) 0px 2px 4px, rgba(0,0,0,0.3) 0px 7px 13px -3px, rgba(0,0,0,0.2) 0px -3px 0px inset;
}
